name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            if [ ! -d "website" ]; then
              git clone https://github.com/paritala2003/network-and-system-administration.git website
            fi

            cd website
            git pull origin main

            docker stop $(docker ps -q) || true
            docker rm $(docker ps -aq) || true

            docker build -t website .
            docker run -d -p 80:80 website
